<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel="stylesheet" href="../Styles/styles.css">
    <script src="../logic.js" defer></script>
</head>
<body>

<header> <h1>Air Traveller's Challenge</h1></header>

<div id="map"></div>

<aside id="left_top"></aside>
<aside id="left_bottom"></aside>

<aside id="right_top"></aside>
<aside id="right_bottom"></aside>

<div id="question">
    <h2>Tähän tulee kysymykset</h2>
</div>



</body>
</html>